.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

table, th, td {
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 0 5px;
  text-align: center;
}


thead th {
    height: 40px;
    background-color: rgb(86, 101, 115);
    color: white;
}

td {
    padding: 0px 10px;
    white-space: normal !important;
    word-wrap: break-word;
    width: 150px;
}

.fixed-button-size {
    width: 100px !important;
}

.card {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 10px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(52,52,52, 0.8);
}

.confirmed-card {
    color: rgb(255, 0, 0)
}

.active-card {
    color: rgb(211, 84, 0)
}

.recovered-card {
    color: rgb(0, 180, 0)
}

.death-card {
    color: rgb(0, 0, 255)
}

.text-alpha {
    font-size: 15px;
    opacity: 0.6;
}

.white-text {
    color: white;
}

.bold-text {
    font-weight: 600;
}

tr {
    height: 40px;
    font-size: 15px;
    font-weight: 600; 
}

sub {
    font-size: 15px;
    opacity: 0.6; 
}

#covid-info-label {
    margin-top: 60px;
    font-weight: bold;
    color: rgba(52,52,52, 0.8);
}

#bold-text {
    font-weight: bold;
    color: rgba(52,52,52, 0.8);
}

.covid-info-label-margin {
    margin-bottom: 30px;
}

#state {
  width: 400px;
  height: 30px;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  margin-top: 10px;
  background-color: #fff;
}

#myChart {
  margin-top: 30px;
}

#features-locked-message {
    font-size: 15px;
    color: white;
    background: rgb(119, 136, 153);
    padding: 3px 5px;
    margin: -3px -5px;
    margin-top: 20px;
    line-height: 1.7;
    border-radius: 3px;
}
